<configuration>
  <root level="DEBUG">
    <appender name="CONSOLE_APPENDER" class="ch.qos.logback.core.ConsoleAppender">
      <target>System.out</target>
      <encoder>
        <pattern>[%-5p] [%t] %logger{0}:%line -- %message %n</pattern>
      </encoder>
    </appender>
  </root>
</configuration>
